# JWT
JWT_SECRET=your-jwt-secret-key-here

# Server
BASE_URL=https://cassette-extrude-shimmy.ngrok-free.dev
FRONTEND_URL=http://localhost:3001

# Admin Seed Data
ADMIN_EMAIL=admin@hexschool.com
ADMIN_PASSWORD=12345678
